# Игнорирование файлов Python byte-code
__pycache__/

# Игнорирование файлов с расширением .pyc
*.pyc

# Игнорирование каталога с виртуальным окружением (если используется virtualenv или venv)
.venv/

# Игнорирование файлов логов
*.log

# Игнорирование файлов настроек конфиденциальных данных
.env

# Игнорирование файлов настроек редактора
.idea/

